RewriteEngine On
RewriteBase /apitizer/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA]

<Limit HEAD GET POST PUT DELETE OPTIONS>
  Require all granted
</Limit>

<IfModule mod_deflate.c>
  # enable compression using below or handled by PHP

  # AddOutputFilterByType DEFLATE text/html
  # AddOutputFilterByType DEFLATE text/xml
  # AddOutputFilterByType DEFLATE application/json
</IfModule>